* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --theme-background: #3a3a3a;
  --theme-gradient: #5d70ad;
  --theme-text: white;
  --app-background: #b8d8f3;
}

.App {
  text-align: center;
  color: white;
  background-image: linear-gradient(
    var(--theme-gradient),
    var(--theme-background)
  );
  min-height: 100vh;
}

button {
  outline: none;
  border: 0;
  width: 130px;
  height: 36px;
  border-radius: 36px;
  font-weight: 500;
  margin: 20px 5px;
  background-color: transparent;
  color: white;
  padding: 0 20px;
  border: 1.5px solid #fff;
  cursor: pointer;
}

.buttons {
  margin: auto;
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

button:hover {
  border: 3px solid white;
}

.resetButton {
  color: #5c6dab;
  background-color: white;
  font-weight: 600;
}

.resetButton:hover {
  border: 1.8px solid #5c6dab;
}

.resetButton:active {
  background-color: #b3c3ff;
}

.startButton {
  background-color: #5c6dab;
  color: white;
  font-weight: 600;
  border: 0;
}

.startButton:hover {
  border: 1.8px solid white;
}

.startButton:active {
  background-color: #465588;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 5px;
}

h2 {
  font-weight: 300;
}

h3 {
  font-size: 64px;
  padding-top: 35px;
  font-weight: 400;
  margin-bottom: 30px;
}

.DarkTheme > a > .SunIconToggle {
  fill: white;
}

.LightTheme > a > .MoonIconToggle {
  fill: white;
}

.DarkTheme {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  padding-top: 1rem;
}

.LightTheme {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
  padding-top: 1rem;
}

.ThemeHeader {
  padding-bottom: 20px;
}

/* Wave animation */

.wave-one {
  width: 1550px;
  height: 1500px;
  position: absolute;
  top: -210%;
  left: -10%;
  border-radius: 40%;
  background: var(--app-background);
  animation: wave 6s infinite linear;
  opacity: 30%;
}

.wave-two {
  width: 1550px;
  height: 1500px;
  position: absolute;
  top: -210%;
  left: -10%;
  border-radius: 41%;
  background: var(--app-background);
  opacity: 18%;
  animation: wave 4.5s infinite linear;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
