* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
  text-align: center;
  transition: background 500ms ease-out, color 800ms ease-out;
}

:root {
  --theme-pink: #e9acdb;
  --theme-blue: #b0d7f5;
  --theme-purple: #8f7cc2;
  --theme-text-white: #ffffff;
  --theme-text-light: #d1d5db;
  --theme-text-light-hover: #e5e7eb;
  --theme-text-mid: #6b7280;
  --theme-text-mid-hover: #4b5563;
  --theme-text-dark: #1f2937;
  --theme-text-dark-hover: #374151;
  --theme-text-dark-active: #111827;
}

.App {
  text-align: center;
  color: white;
  background-image: radial-gradient(
    at bottom right,
    var(--theme-purple),
    var(--theme-blue),
    var(--theme-pink)
  );

  height: 100vh;
  min-width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -2;
  overflow: hidden;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  padding-top: 30px;
  color: var(--theme-text-dark);
  z-index: 20;
}

h3 {
  font-size: 90px;
  font-weight: 700;
  color: white;
  text-align: center;
  z-index: 50;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 2px;
  color: var(--theme-text-mid);
}

a {
  grid-column-start: 3;
  margin-right: 7%;
  align-items: baseline;
}

button {
  outline: none;
  border: 0;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-family: "Source Sans Pro";
  font-weight: 700;
  margin: 20px 10px 0px;
  background-color: transparent;
  color: var(--theme-text-mid-hover);
  border: 1.6px solid var(--theme-text-mid-hover);
  cursor: pointer;
}

.time-buttons {
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

button:hover {
  border: 2.5px solid var(--theme-text-mid);
}

button:active {
  background-color: hsla(0, 0%, 100%, 0.7);
}

.action-buttons {
  margin-top: 45px;
}

.resetButton {
  color: var(--theme-text-dark-hover);
  border: 1.6px solid var(--theme-text-dark-hover);
  background-color: white;
  font-weight: 700;
  width: 136px;
  height: 46px;
  font-size: 20px;
  box-shadow: 6px 2px 20px 0px hsla(240, 21%, 30%, 0.15);
}

.resetButton:hover {
  border: 2.5px solid var(--theme-text-dark-hover);
  color: var(--theme-text-dark-hover);
}

.resetButton:active {
  background-color: transparent;
}

.startButton {
  background-color: var(--theme-text-dark);
  color: white;
  border: none;
  font-weight: 600;
  width: 136px;
  height: 46px;
  font-size: 20px;
  box-shadow: 6px 2px 20px 0px hsla(240, 21%, 30%, 0.15);
}

.startButton:hover {
  background-color: var(--theme-text-dark-hover);
  border: none;
}

.startButton:active {
  background-color: var(--theme-text-dark);
  border: none;
}

.regular-header {
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 5px;
  z-index: 10;
}
.bold-header {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 5px;
  z-index: 10;
}

.SunToggleIcon {
  fill: var(--theme-text-dark-hover);
  width: 26px;
  height: 26px;
  z-index: 30000;
}

.MoonToggleIcon {
  fill: var(--theme-text-light);
  stroke-width: 2.5;
  width: 24px;
  height: 24px;
  z-index: 30000;
  top: -2px;
}

.toggle-container-light {
  width: 50px;
  height: 50px;
  background-color: hsla(249, 62%, 96%, 0.3);
  box-shadow: 8px 8px 20px 0px hsla(240, 21%, 30%, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  display: flex;
  align-items: baseline;
  grid-column-start: 2;
  justify-content: center;
}

.app-title-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  color: white;
  margin-top: 35px;
}

.timer-logo {
  margin-left: 1px;
  margin-right: -1px;
  z-index: 10;
  vertical-align: baseline;
}

.container {
  width: 85vw;
  height: 73vh;
  margin: 30px 100px 100px 100px;
  background-color: hsla(249, 62%, 96%, 0.3);
  border-radius: 30px;
  z-index: 10;
  box-shadow: 18px 18px 30px 0px hsla(240, 21%, 30%, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

@media only screen and (max-width: 520px) {
  .App {
    inset: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container {
    margin: 30px 30px 30px 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
  }

  .countdown-container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 120px;
  }

  .time-buttons {
    margin-bottom: 0px;
  }

  h2 {
    padding-top: 120px;
  }

  h3 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    z-index: 50;
    padding: 0;
  }

  .action-buttons {
    padding-bottom: 120px;
    margin-top: 40px;
  }

  .time-container {
    height: 100%;
    width: 100%;
    padding: 5px 20px 5px 20px;
    background-image: linear-gradient(
      to bottom right,
      hsla(314, 58%, 79%, 0.85),
      hsla(256, 36%, 62%, 0.85)
    );
    box-shadow: 4px 6px 10px 0px hsla(240, 21%, 30%, 0.25);
    border-radius: 10px;
    z-index: 20;
    overflow: visible;
  }
}

.countdown-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 75px;
}

.time-display {
  overflow: visible;
}

@media only screen and (min-width: 521px) {
  .time-container {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-image: linear-gradient(
      to bottom right,
      hsla(314, 58%, 79%, 0.85),
      hsla(256, 36%, 62%, 0.85)
    );
    box-shadow: 4px 6px 10px 0px hsla(240, 21%, 30%, 0.25);
    padding: 5px 40px 5px 40px;
    z-index: 20;
    overflow: visible;
  }
}

.white-blur {
  border-radius: 55%;
  background-color: hsla(0, 0%, 100%, 0.7);
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 70%;
  filter: blur(50px);
  z-index: -1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content > h3 {
  padding: 10px 10px;
  height: 160px;
  margin-bottom: 30px;
}

/* Dark theme */

.dark-theme h2 {
  color: var(--theme-text-light-hover);
}
.dark-theme h3 {
  color: var(--theme-text-light-hover);
}

.dark-theme h5 {
  color: var(--theme-text-light);
}

.dark-theme button {
  color: var(--theme-text-light);
  border: 1.6px solid var(--theme-text-light);
}

.dark-theme button:hover {
  border: 2.5px solid var(--theme-text-light);
}

.dark-theme button:active {
  border: 2.5px solid var(--theme-text-light-hover);
  color: var(--theme-text-light-hover);
  background-color: transparent;
}

.dark-theme .startButton {
  background-color: var(--theme-text-dark);
  color: white;
  border: none;
}

.dark-theme .startButton:hover {
  background-color: var(--theme-text-dark-active);
  color: white;
  border: none;
}
.dark-theme .startButton:active {
  background-color: var(--theme-text-dark);
  color: white;
  border: none;
}

.dark-theme .resetButton {
  background-color: white;
  color: var(--theme-text-dark);
  border: 1.6px solid var(--theme-text-dark-active);
}

.dark-theme .resetButton:hover {
  color: var(--theme-text-dark);
  border: 2.5px solid var(--theme-text-dark-active);
}

.dark-theme .resetButton:active {
  background-color: var(--theme-text-light);
  color: var(--theme-text-dark);
  border: 2.5px solid var(--theme-text-dark-active);
}

.DarkTheme-themeButton,
.LightTheme-themeButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 300;
}

.toggle-container-light:hover,
.toggle-container-light:active {
  background-color: hsla(249, 62%, 96%, 0.8);
}

.dark-theme .time-container {
  background-color: var(--theme-text-dark);
  background-image: none;
}

.dark-theme .white-blur {
  background-color: hsla(244, 31%, 20%, 0.4);
}

.dark-theme .container {
  background-color: hsla(263, 35%, 26%, 0.5);
}

.toggle-container-dark {
  width: 50px;
  height: 50px;
  background-color: hsla(251, 35%, 26%, 0.5);
  box-shadow: 8px 8px 20px 0px hsla(240, 21%, 30%, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-container-dark:hover,
.toggle-container-dark:active {
  background-color: hsla(251, 35%, 26%, 0.8);
}

/* Wave animation */

.wave-two {
  width: 200vw;
  height: 200vw;
  position: absolute;
  bottom: 540px;
  left: -50vw;
  background: white;
  border-radius: 44%;
  animation: wave 8s infinite linear;
  opacity: 10%;
  z-index: -1;
}

.wave-one {
  width: 200vw;
  height: 200vw;
  position: absolute;
  bottom: 580px;
  left: -50vw;
  background-color: hsla(0, 1%, 65%, 0.247);
  mix-blend-mode: multiply;
  border-radius: 42%;
  opacity: 85%;
  -moz-opacity: 85%;
  filter: alpha(opacity=85);
  animation: wave 9s infinite linear;
  z-index: -1;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
